<article class="comment">

  <div class="comment-info">
    <h4>{{timestamp}}</h4>
    <p class="comment-username">
      An anonymous <a href="{{animalUrl}}">{{postedBy}}</a>
    </p>
  </div>

  <div class="content-container">
    <p class="post-content">
      {{commentContent}}
    </p>
  </div>

</article>
