<button type="button" id="create-comment-button"><p>Leave a comment?</p></button>

<div id="create-comment-body" class="create closed">
  <div class="input-box">
    <label for="comment-input">Write your comment...</label>
    <textarea id="comment-input" class="create-input"></textarea>
  </div>
  <div class="comment-buttons">
    <button type="button" id="comment-cancel">Cancel</button>
    <button type="button" id="comment-submit">Submit</button>
  </div>
</div>
