<button type="button" class="create-button full-wide" id="create-comment-button">Leave a comment?</button>

<div id="create-comment-body" class="create closed">
  <div class="create-comment-menu">
    <div class="input-box">
      <label for="comment-input">Write your comment...</label>
      <textarea id="comment-input" class="full-wide content-input create-input"></textarea>
    </div>
    <div class="comment-buttons">
      <button type="button" id="comment-cancel" class="create-button create-cancel">Cancel</button>
      <button type="button" id="comment-submit" class="create-button create-submit">Submit</button>
    </div>
  </div>
</div>
