<button type="button" class="create-button full-wide" id="create-post-button">Post something?</button>

<div id="create-post-body" class="create closed">
  <div class="create-post-menu">

    <div class="input-box">
      <label for="post-title-input">Create a title...</label>
      <textarea id="post-title-input" class="title-input create-input full-wide" ></textarea>
      <label for="post-content-input">Write your post...</label>
      <textarea id="post-content-input" class="content-input create-input full-wide" ></textarea>
    </div>

    <div class="post-buttons">
      <button type="button" id="post-cancel" class="create-button create-cancel">Cancel</button>
      <button type="button" id="post-submit" class="create-button create-submit">Submit</button>
    </div>

  </div>
</div>
