<header class="header">

  <h2 class="title">WORKING TITLE</h2>
  <h4 class="subtitle">WORKING SUBTITLE</h4>

  <nav class="navbar">
    <ul class="navoptions">
      <li class="navoption nav-left">
        <a href="/">Home</a>
      </li>
      <li class="navoption nav-left">
        <a href="/posts/random" >Random</a>
      </li>
      <li class="navoption nav-right">
        <input type="text" id="search-posts" placeholder="Search...">
        <p id="search-reminder-text" class="hidden">Searches by title and post content.</p>
        <button type="button" id="search-posts-button">GO!</button>
      </li>
    </ul>
  </nav>

</header>
