<header class="header">

  <h1 class="title">WORKING TITLE</h1>
  <h3 class="title sub">WORKING SUBTITLE</h3>

  <nav class="navbar">
    <ul class="navoptions">
      <li class="navoption">
        <a href="/">Home</a>
      </li>
      <li class="navoption">
        <a href="/posts/random" >Random</a>
      </li>
      <li class="navoption nav-search">
        <input type="text" id="search-posts" class="search-input" placeholder="Search...">
        <p class="search-reminder-text">Searches by title and post content.</p>
        <button type="button" id="search-posts-button">GO!</button>
      </li>
    </ul>
  </nav>

</header>
