<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>WORKING TITLE</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <script type="application/javascript" src="/handlebars.runtime.js"></script>
    <script type="application/javascript" src="/index.js" ></script>
    <script type="application/javascript" src="/templates.js"></script>
    <!-- <script type="application/javascript" src="/postTemplate.js" ></script>
    <script type="application/javascript" src="/commentTemplate.js" ></script> -->

  </head>

  <body id="document-body" class="lightTheme">

    {{{body}}}

  </body>

</html>
