<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>WORKING TITLE</title>

    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/node_modules/handlebars/dist/handlebars.runtime.js" charset="utf-8"></script>
    <script type="text/javascript" src="/index.js" charset="utf-8"></script>
    <script type="text/javascript" src="/postTemplate.js" charset="utf-8"></script>
    <script type="text/javascript" src="/commentTemplate.js" charset="utf-8"></script>

  </head>

  <body id="document-body" class="lightTheme">

    {{{body}}}

  </body>

</html>
