{{> header}}

<main class="main-container">

  <article class="post-container">

    {{#each posts}}
      {{> post}}
    {{/each}}

    <div class="comment-container">
      {{#each comments}}
        {{> comment}}
      {{/each}}
    </div>

    <div class="post-newComment">
      {{> createComment}}
    </div>

  </article>

</main>

{{> footer}}
