{{> header}}

<main class="post-container">

  {{#each posts}}
    {{> post}}
  {{/each}}

  <div class="post-comments">
    {{#each comments}}
      {{> comment}}
    {{/each}}
  </div>

  <div class="post-newComment">
    {{> createComment}}
  </div>

</main>

{{> footer}}
